body{
    width: 80%;
    margin: 0 auto;
}

#cart {
    max-width: 300px;
}

.cart-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 10px 0;
}

.cart-item:not(:first-child) {
    border-top: 1px solid black;
}

.cart-items-wrap {
    margin: 20px 0;
}

.cart-summary,
.product-price {
    text-align: right;
}

.del-btn {
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0 auto;
}

.product-quantity {
    text-align: center;
}

#products {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

p {
    margin: 0 0 5px 0;
}

.desc {
    padding: 15px;
    border: 1px solid #c0c0c040;
}

.product {
    display: flex;
    flex-direction: column;
    width: 200px;
    border-radius: 5px;
    overflow: hidden;
}

img {
    max-height: 150px;
    max-width: 200px;
}
