html,
body {
    font-size: 18px;
}

#myform {
    width: 25%;
    height: 420px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-flow: row wrap;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
}

#city {
    width: 100%;
    padding: 5px 15px;
    margin-top: 5px;
}

#myform input,
#message {
    width: 100%;
    padding: 5px 15px;
}

#message {
    resize: none;
}

#btn-send{
    margin-top: 5px;
}

#search_advice_wrapper {
    display: none;
    width: 100%;
    background-color: #ebf2ef;
    color: #543543;
    z-index: 1;
    position: absolute;
    top: 147px;
    left: 0px;
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#search_advice_wrapper .advice_variant {
    cursor: pointer;
    padding: 5px;
    text-align: left;
}

#search_advice_wrapper .advice_variant:hover{
    color: #606;
    background-color: #dadade;
}
